# Project Rx v1 Environment
# Скопируйте этот файл в .env и заполните значения

# MCP Server
MCP_URL=http://localhost:3000

# Supabase
SUPABASE_URL=https://supabase.kzpm.com/
SUPABASE_KEY=

# Ollama
OLLAMA_URL=http://192.168.96.216:11434/v1
OLLAMA_MODEL=gemma4:31b-cloud
OLLAMA_TOKEN=

# Port
PORT=3000
